.idea
.DS_Store
node_modules/
.env
.envm
environment
ecosystem.config.js
pgdata/
.*.swp
data/*
log/*
notes/
testbinfile
archive/

derived/
!derived/abi/abi.txt
!derived/application/application.txt
!derived/popular/popular.txt
!derived/scrape/scrape.txt
!derived/tmp/tmp.txt